* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


/* NAVBAR */

nav {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;  
    padding: 1em 10em;

}

.left-side {
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

/* HEADER */

header {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    padding: 5em 10em;

}

header p {
    font-size: 18px;
    color: #e5e7eb;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FaF8;
}

.placeholder {
    max-width: 50%;
    height: auto;
}

.header-info {
    width: 40%; 
}

button {
    border: none;
    text-align: center;
    border-radius: 8px;
    font-size: 20px;
    padding: 10px 40px;
    font-weight: bold;
}

.sign-up-button {
    color: white;
    background-color: #2196F3;
    margin-top: 15px; 
}

/* RANDOM INFO */

h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    text-align: center;
    margin-top: 50px;
}

.random-info-entries {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px auto 100px;
    gap: 50px;
   }

.random-image {
    width: 180px;
    height: 180px;
    border-radius: 15px;
    border: 5px solid #1f2937;    
}

.entry {
    max-width: 180px;
}

/* QUOTE */
.quote {
    background-color: #e5e7eb;
    padding: 125px 300px;
}

.actual-quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    text-align: justify;
}

.thor {
    text-align: right;
    font-weight: bolder;
    font-size: 25px;
    margin: 15px auto;
}

/* SIGN-UP */
.sign-up-background {
    background-color: #3882f6;
    color: white;
    padding: 50px;
    margin: 125px;
    display: flex;   
    justify-content: space-evenly;
    border-radius: 12px;
}

.its-time {
    font-weight: bold;
    font-size: 25px;
}

.over-there {
    color: #e5e7eb;
}

.outline-button {
    background-color: #3882f6;
    border: 2px solid white;
    color: white;
}

/* FOOTER */

footer {
    background-color: #1F2937;
    color: #f9faf8;
    text-align: center;
}